@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    @apply flex mt-20 px-6 py-10 min-h-screen flex-1 flex-col items-center bg-main  max-md:pb-32 sm:px-10;
  }

  .bg-blur {
    @apply bg-dark-blur;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .paper {
    @apply bg-paper border border-border;
  }

  .button {
    @apply bg-primary-800;
  }

  .action-icon {
    @apply cursor-pointer object-contain;
  }

  .action-icon:not(.stable) {
    @apply opacity-70 hover:opacity-100 transition-opacity;
  }

  .no-mt {
    margin-top: 0 !important;
  }

  .bg-hover:hover {
    @apply bg-active;
  }

  .head-text {
    @apply text-heading2-bold text-light-1 mb-10;
  }

  .no-result {
    @apply text-center !text-base-regular text-light-4;
  }

  /* Menu */
  .main-menu_link--active img {
    filter: brightness(0) invert(1);
  }

  /* Bars */
  .top-bar {
    @apply bg-blur min-h-20 fixed top-0 z-30 flex w-full items-center justify-between px-6;
  }

  .bottom-bar {
    @apply bg-blur fixed bottom-0 w-full p-4 xs:px-7 md:hidden border-t border-t-border z-10;
  }

  .bottom-bar_container {
    @apply flex items-center justify-evenly gap-1;
  }

  .bottom-bar_container .main-menu_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1;
  }

  .bottom-bar_container .main-menu_link p {
    @apply text-subtle-medium text-light-1 max-sm:hidden;
  }

  .left-sidebar {
    @apply bg-paper sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto pb-5 pt-28 border-r border-r-border max-md:hidden;
  }

  .left-sidebar_container {
    @apply flex w-full flex-1 flex-col gap-6 px-6;
  }

  .left-sidebar_container .main-menu_link {
    @apply relative flex justify-start gap-4 rounded-lg p-4;
  }

  .left-sidebar_container .main-menu_link p {
    @apply text-light-1 max-lg:hidden;
  }

  .right-sidebar {
    @apply bg-paper sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto px-10 pb-6 pt-28 border-l border-l-border max-xl:hidden;
  }

  .right-sidebar_content-box {
    @apply flex flex-1 flex-col justify-start;
  }

  .right-sidebar_title {
    @apply text-heading4-semibold text-light-1;
  }

  .search-bar {
    @apply paper flex gap-1 rounded-lg px-4 py-2;
  }

  .search-bar_input {
    @apply border-none text-base-medium text-light-1 outline-none;
  }

  /* Cards */

  .user-card {
    @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:paper max-xs:p-4 xs:flex-row xs:items-center;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .activity-card {
    @apply flex items-center gap-2 rounded-md px-7 py-4;
  }

  .community-card {
    @apply w-full rounded-lg p-5;
  }

  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
  }

  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  /* Form */
  .form {
    @apply flex flex-col justify-start;
  }

  .form,
  .form_field-group {
    @apply gap-10;
  }

  .form-card {
    @apply paper p-10;
  }

  .form_item {
    @apply flex w-full flex-col gap-3;
  }

  .form_field-group {
    @apply grid sm:grid-cols-2;
  }

  .form_input {
    @apply paper p-4 border border-border text-light-1 text-base-medium;
  }

  .form_label {
    @apply text-base-semibold text-light-3;
  }

  .form_image-label {
    @apply flex h-24 w-24 items-center justify-center rounded-full bg-border !important;
  }

  .form_image {
    @apply h-24 w-24 max-h-24 max-w-24 rounded-full object-contain;
  }

  .form_image-input {
    @apply max-w-fit border-none bg-transparent outline-none file:text-primary-500 !important;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .comment-form {
    @apply mt-10 flex items-center gap-4 border-y border-y-border py-5 max-xs:flex-col !important;
  }

  /* Tab */
  .tabs-list {
    @apply paper w-full flex min-h-[50px] flex-1 gap-0.5 items-center text-light-3;
  }

  .tabs-trigger {
    @apply gap-3 flex-1 min-h-[50px];
  }

  .tabs-trigger:hover,
  .tabs-trigger[data-state='active'] {
    @apply text-light-1 bg-active !important;
  }

  .tabs-content {
    @apply w-full text-light-1;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #64748b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

@layer clerk {
  .cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
    @apply max-sm:hidden;
  }

  .cl-organizationSwitcherTrigger
    .cl-organizationPreview
    .cl-organizationPreviewTextContainer {
    @apply max-sm:hidden;
  }

  .cl-logoImage {
    border-radius: 50%;
  }

  .cl-formFieldInput {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .cl-footerActionLink,
  .cl-footerActionLink:active,
  .cl-footerActionLink:hover {
    font-weight: 600;
    color: white;
    margin-left: 4px;
  }

  .cl-formButtonPrimary,
  .cl-formButtonPrimary:active,
  .cl-formButtonPrimary:hover {
    font-size: 16px;
    text-transform: none;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #9d174d;
  }
}
