@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Rose */
  --accent-05: hsl(349, 73%, 97%);
  --accent-1: hsl(326, 78%, 95%);
  --accent-2: hsl(326, 85%, 90%);
  --accent-3: hsl(327, 87%, 82%);
  --accent-4: hsl(329, 86%, 70%);
  --accent-5: hsl(330, 81%, 60%);
  --accent-6: hsl(333, 71%, 51%);
  --accent-7: hsl(335, 78%, 42%);
  --accent-8: hsl(336, 74%, 35%);
  --accent-9: hsl(336, 69%, 30%);
  --accent-95: hsl(336, 84%, 17%);

  /* Zink Customized */
  --main-05: hsl(0, 0%, 98%);
  --main-1: hsl(240, 5%, 96%);
  --main-2: hsl(240, 6%, 90%);
  --main-3: hsl(240, 6%, 83%);
  --main-4: hsl(240, 7%, 64%);
  --main-5: hsl(240, 7%, 46%);
  --main-6: hsl(240, 8%, 33%);
  --main-7: hsl(240, 8%, 25%);
  --main-8: hsl(240, 9%, 15%);
  --main-9: hsl(240, 9%, 9%);
  --main-95: hsl(240, 10%, 4%);

  --heading-1: var(--main-1); /* h1 */
  --heading-2: var(--main-05); /* h2, h3 */

  --foreground: var(--main-1); /*  */
  --foreground-secondary: var(--main-3); /* thread text */
  --foreground-tertiary: var(--main-5); /* label, no-result, caption */

  --background: var(--main-95); /* body */
  --background-secondary: var(--main-9); /* bar, tab, card */
  --background-secondary-hover: hsla(240, 9%, 15%, 0.7); /* --main-8 */
  --background-secondary-opacity: hsla(240, 9%, 9%, 0.9); /* --main-9 */

  --accent: var(--accent-5);
  --border: var(--main-8);
  --button: var(--accent-8);

  /* thread deletion toast */
  --danger: hsl(340, 84%, 17%);
  --danger-foreground: hsl(351, 100%, 99%);
}

/* .dark {} */

@layer components {
  .main-container {
    @apply flex px-6 pt-28 pb-10 min-h-screen flex-1 flex-col items-center bg-main-bg max-md:pb-32 sm:px-10;
  }

  .paper {
    @apply bg-paper border border-border;
  }

  .paper-blur {
    @apply bg-paper-blur;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .button {
    @apply bg-button;
  }

  .link-button--small {
    @apply bg-button h-9 rounded-md px-7 py-2 text-small-regular;
  }

  .action-icon {
    @apply cursor-pointer object-contain;
  }

  .action-icon:not(.stable) {
    @apply opacity-70 hover:opacity-100 transition-opacity;
  }

  .no-mt {
    margin-top: 0 !important;
  }

  .head-text {
    @apply text-heading2-bold text-heading-1 mt-1 mb-9;
  }

  .no-result {
    @apply text-center text-base-regular text-tertiary;
  }

  /* Menu */
  .main-menu_link--active img {
    filter: brightness(0) invert(1);
  }

  /* Bars */
  .top-bar {
    @apply paper-blur h-20 px-6 flex w-full items-center justify-between fixed top-0 z-30;
  }

  .top-bar_logout-icon {
    transform: scaleX(-1);
  }

  .bottom-bar {
    @apply paper-blur fixed bottom-0 w-full p-4 xs:px-7 md:hidden border-t border-t-border z-10;
  }

  .bottom-bar_container {
    @apply flex items-center justify-evenly gap-1;
  }

  .bottom-bar_container .main-menu_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1;
  }

  .bottom-bar_container .main-menu_link p {
    @apply text-subtle-medium text-main max-sm:hidden;
  }

  .left-sidebar {
    @apply bg-paper sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto pb-5 pt-28 border-r border-r-border max-md:hidden;
  }

  .left-sidebar_container {
    @apply flex w-full flex-1 flex-col gap-6 px-6;
  }

  .left-sidebar_container .main-menu_link {
    @apply relative flex justify-start gap-4 rounded-lg p-4;
  }

  .left-sidebar_container .main-menu_link p {
    @apply text-main max-lg:hidden;
  }

  .right-sidebar {
    @apply bg-paper sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto px-10 pb-6 pt-28 border-l border-l-border max-xl:hidden;
  }

  .right-sidebar_content-box {
    @apply flex flex-1 flex-col justify-start;
  }

  .right-sidebar_title {
    @apply text-heading4-semibold text-main;
  }

  .search-bar {
    @apply paper flex gap-1 rounded-lg px-4 py-2;
  }

  .search-bar_input {
    @apply border-none text-base-medium text-main outline-none;
  }

  /* Cards */

  .user-card {
    @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:paper max-xs:p-4 xs:flex-row xs:items-center;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .activity-card {
    @apply flex items-center gap-2 rounded-md px-7 py-4;
  }

  .community-card {
    @apply w-full rounded-lg p-5;
  }

  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-border;
  }

  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  /* Form */
  .form {
    @apply flex flex-col justify-start;
  }

  .form,
  .form_field-group {
    @apply gap-7;
  }

  .form-card {
    @apply paper p-10;
  }

  .form_item {
    @apply flex w-full flex-col gap-1;
  }

  .form_field-group {
    @apply grid sm:grid-cols-2;
  }

  .form_input {
    @apply paper p-4 border border-border text-main text-base-medium;
  }

  .form_label {
    @apply text-base-semibold text-tertiary;
  }

  .form_image-label {
    @apply flex h-24 w-24 items-center justify-center rounded-full bg-border !important;
  }

  .form_image {
    @apply h-24 w-24 max-h-24 max-w-24 rounded-full object-contain;
  }

  .form_image-input {
    @apply max-w-fit border-none bg-transparent outline-none file:text-accent !important;
  }

  .comment-form {
    @apply mt-10 flex items-center gap-4 border-y border-y-border py-5 max-xs:flex-col !important;
  }

  /* Tab */
  .tabs-list {
    @apply paper w-full flex min-h-[50px] flex-1 gap-0.5 items-center text-secondary;
  }

  .tabs-trigger {
    @apply gap-3 flex-1 min-h-[50px];
  }

  .tabs-trigger:hover,
  .tabs-trigger[data-state='active'] {
    @apply text-main bg-paper-hover !important;
  }

  .tabs-content {
    @apply w-full text-main;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #64748b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

.cl-organizationSwitcherTrigger:hover {
  background-color: var(--background-secondary-hover);
}

.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer,
.cl-organizationSwitcherTrigger
  .cl-organizationPreview
  .cl-organizationPreviewTextContainer {
  @apply max-sm:hidden !important;
}

.cl-organizationPreview.cl-organizationPreview__organizationSwitcher
  + div[class^='cl-internal'] {
  display: none;
}

.cl-userPreview.cl-userPreview__personalWorkspace + div[class^='cl-internal'] {
  display: none;
}

.cl-organizationSwitcherTriggerIcon {
  margin-left: 0.75rem;
}

.cl-logoImage {
  border-radius: 50%;
}

.cl-formFieldInput {
  padding-top: 16px;
  padding-bottom: 16px;
}

.cl-footerActionLink,
.cl-footerActionLink:active,
.cl-footerActionLink:hover {
  font-weight: 600;
  color: var(--foreground);
  margin-left: 4px;
}

.cl-formButtonPrimary,
.cl-formButtonPrimary:active,
.cl-formButtonPrimary:hover {
  font-size: 16px;
  text-transform: none;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--button);
}

.cl-formFieldAction {
  color: var(--foreground-secondary);
}
